#category {
  h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #232e6c;
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;

    background-color: #232e6c;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: background 0.2s ease;

    &:hover {
      background-color: #1b2458;
    }
  }

  // category Card
  .category-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
  }

  .category-card {
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 0.75rem;
    padding: 1.25rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    transition: 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
    }

    .category-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.75rem;
    }

    .category-title {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 0.3rem;

      font-size: 1.1rem;
      font-weight: 600;
      color: #232e6c;

      span {
        font-size: 2rem;
      }
    }

    .category-actions {
      display: flex;
      gap: 0.6rem;

      .edit-btn {
        align-self: flex-start;
        margin: 0;
        background-color: #486aff;
        color: #fff;
        border: none;
        padding: 0.4rem 1rem;
        border-radius: 0.4rem;
        font-size: 0.95rem;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: #111;
          background-color: #ffc107;
        }
      }

      .delete-btn {
        align-self: flex-start;
        margin: 0;
        background-color: #e63946;
        color: #111;
        border: none;
        padding: 0.4rem 1rem;
        border-radius: 0.4rem;
        font-size: 0.95rem;
        cursor: pointer;
        transition: 0.2s;
        color: #fff;

        &:hover {
          background-color: #fa0318;
        }
      }
    }
  }
}

#category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  form {
    background: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
    width: 95%;
    max-width: 600px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 90vh;
  }
}

@media screen and (width < 1433px) {
  .category-title {
    font-size: 0.9rem !important;

    span {
      font-size: 1.5rem !important;
    }
  }

  .category-actions {
    gap: 0.3rem;

    .edit-btn {
      padding: 0.4rem 0.7rem !important;
    }

    .delete-btn {
      padding: 0.4rem 0.7rem !important;
    }
  }
}
