.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #fff;
  background-color: #232e6c;
  padding: 1rem;
  width: 20rem;

  h1 {
    color: #ffffffc1;
  }

  .sidebar-header {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;

    .avatar {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 9999px;
      width: 2.5rem;
      height: 2.5rem;
    }

    .user-info {
      display: flex;
      flex-direction: column;

      .user-name {
        color: #111418;
        font-size: 1rem;
        font-weight: 500;
        line-height: normal;
      }

      .user-role {
        color: #60758a;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    .menu-item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      cursor: pointer;
      text-decoration: none;
      color: #fff;

      .menu-icon {
        fill: currentColor;
        color: #111418;
        color: #ffffffbe;

        img {
          color: #ffffffbe;
        }
      }

      .menu-label {
        // color: #111418;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: normal;
        color: #ffffffbe;
      }

      &:hover {
        background-color: #f0f2f53b;

        .menu-icon {
          color: #fff;
        }

        .menu-label {
          color: #fff;
        }
      }

      &.active {
        background-color: #f0f2f5;

        .menu-icon {
          color: #232e6c;
        }

        .menu-label {
          color: #232e6c;
        }
      }
    }
  }
}

@media screen and (width < 990px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    z-index: 1000;
    padding: 0;
    height: 5rem;

    h1 {
      display: none;
    }

    .sidebar-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 0;
      margin: 0;
      padding: 0.7rem 1.1rem;

      a {
        display: flex;
        flex-direction: column;
        padding: 0.5rem !important;
        gap: 0.3rem !important;

        p {
          font-size: 0.6rem !important;
        }

        &.hide {
          display: none;
        }
      }
    }
  }
}
